/* fonts */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* button */
.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 19px 80px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-secondary {
  background-color: rgba(233, 90, 8, 1);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 25px 80px;
  cursor: pointer;
}
/* body */
body {
  color: rgba(245, 248, 255, 1);
}
/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: inherit
}
/* text-color */
.text-primary {
  color: rgba(233, 90, 8, 1);
}
.text-secondary {
  color: rgba(0, 0, 0, 1);
}
.text-gray {
  color: rgba(0, 0, 0, 0.5);
}
/* main */
main {
  margin: 120px 150px 0px;
}
/* banner */
.banner {
  display: flex;
  align-items: center;
}
.banner div h1 {
  font-weight: bold;
  font-size: 65px;
}
.banner div p {
  font-size: 22px;
}
.banner img {
  width: 100%;
}
/* our plants */
.our-plants {
  margin-top: 120px;
}
.plant-sec-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.plant-sec-des {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
/* products */
.products {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px; 
  padding: 10px;
}
.product {
  text-align: center;
}
.product-info {
  text-align: center;
}
.name {
  font-size: medium;
  color: rgba(17, 17, 17, 1);
}
.price {
  font-size: medium;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
}
/* trusted-seller */
.trusted-seller {
  display: flex;
  align-items: center;
  margin: 210px auto;
  position: relative;
  width: 100%; 
  gap: 40rem;
}
.background-img {
  width: 150%;
  height: auto;
}

.overlay-img {
  position: absolute;
  top: -27%; 
  left: 14%;
  width: 17%;
  height: auto;
}
.trusted-seller-title {
  font-size: 50px;
  font-weight: bold;
  
}
.trusted-seller-des {
  font-size: 22px;
}
